<%- include ("layouts/header")%>

<form action="/location" method="POST">
    <input type="text" name="location" placeholder="Enter your location">
    <input type="submit">
</form>

<%- include ("layouts/footer")%>