<%- include ("layouts/header")%>
    <h1>Welcome to the homepage</h1>
    <h3>Listen to any music</h3>
    <form action="/addStar" method="post">
        Artist Name: <input type="text" name="name">
        <input type="submit">
    </form>