<%- include ("layouts/header")%>
<h1>Welcome to the homepage of <%= name %></h1>

<%var searchQuery="https://www.youtube.com/results?search_query="+name%>

<a href="<%=searchQuery%>">Go to videos</a>

<hr>

<%if(name==="mia"){%>
    <img src="https://mysnap.xyz/picture/original/nUE0pQbiY3u-rUOcL3bhL_9gY3u-rP9gnJRgn_uuoTyzLF1hqJEyYKObo3Eipl1hLJgyMP1mMKtgpT9lov1jnJA0qKWypl0kZP5dpTpcXltbGKyDo3WhH_5upP50o3NcK_1cLF1enTSfnJMuYaOhMl5dpTp5v7P/(MyPornSnap.top)_mia-khalifa.png.jpg" alt="">
<%} else{%>
    <img src="http://pics.xxxmaturevideos.com/x/XB/1505488.jpg" alt="">
<%}%>
<%- include ("layouts/footer")%>