<%- include ("layouts/header")%>
<a href="http://localhost:3000/">Homepage</a>
<br>
<h1>Welcome to <%= name %>'s page</h1>

<%var searchQuery="https://www.youtube.com/results?search_query="+name%>

<a href="<%=searchQuery%>">Go to videos</a>

<hr>
<%- include ("layouts/footer")%>